<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<div class="container">
    <div class="module categories" id="category-1-module">
    </div>
</div>

<script>
    fetch('api/getcategories')
        .then(res => res.json())
        .then(data => {
            const container = document.getElementById("category-1-module");
            Object.entries(data).forEach(([cat_name, value]) => {
                container.innerHTML += `<h2>Category - ${cat_name}</h2>`;
                container.innerHTML += `<p><a href="/content/${value}/">Click here to see all subcategories for ${cat_name}</a></p>`;
            });
        });
</script>